body {
}
button {
	padding: 6px;
	margin: 5px;
}

.control {
	width: 100%;
	background-color: red;
	height: 15vh;
	text-align: center;
	line-height: 15vh;
}
.controlItems {
}

.board {
	width: 100%;
	height: fit-content;
	margin: auto;
	padding-bottom: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	transform: rotateX(180deg);
}

.bar {
	margin-right: 1px;
	background-color: black;
	width: 4px;
}
